//
//  G R I D
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

.row {
  position: relative;
  align-items: stretch;
  // Wrap
  flex-wrap: wrap;
  // alignment
  justify-content: flex-start;

  display: flex;
  width: $container-width;
  max-width: $row-width;
  margin: 0 auto;

  &.xl {
    max-width: 100%;
  }
}

[class*='column-'] {
  flex-direction: column;

  display: flex;

  &,
  &:not(.no-width) > * {
    width: 100%;
    max-width: 100%;
  }

  // &:not(.nest){
  //   padding-left: $column-gutter/4;
  //   padding-right: $column-gutter/4;

  //   @media #{$lg}{
  //     padding-left: $column-gutter/2;
  //     padding-right: $column-gutter/2;
  //   }
  // }
}

// Create selectors for each media query
@each $bp in $bps {
  // get name and prefix of media query
  $key: nth($bp, 1);
  $value: nth($bp, 2);

  @media #{$key} {
    @include selector('.flex', $value) {
      display: flex;
    }

    // grid classes
    @for $i from 0 through $total-columns {
      $column-width-percent: (100% * ($i*($column-width+$column-gutter))) / $row-width;
      @include selector('.column-#{$i}', $value) {
        flex: 0 0 $column-width-percent;

        width: $column-width-percent;
        max-width: $column-width-percent;
      }

      @if $i < $total-columns {
        @include selector('.offset-#{$i}', $value) {
          margin-left: $column-width-percent;
        }
      }
    }

    //  Global sizing
    //  ───────────────────────────────────
    @for $i from 1 through 20 {
      @include selector('.size-#{$i * 5}', $value) {
        width: $i * 5%;
        max-width: $i * 5%;
      }
    }

    @include selector('.size-33', $value) {
      width: 33.333333%;
      max-width: 33.333333%;
    }

    @include selector('.size-66', $value) {
      width: 66.666666%;
      max-width: 66.666666%;
    }

    @include selector('.size-49', $value) {
      width: 49%;
      max-width: 49%;
    }

    @include selector('.size-auto', $value) {
      width: auto;
      max-width: auto;
    }

    @include selector('.height-100', $value) {
      height: 100%;
    }

    //  Alignment
    //  ───────────────────────────────────
    @include selector('.align-start-start', $value) {
      align-items: flex-start;
      justify-content: flex-start;
    }

    @include selector('.align-start-end', $value) {
      align-items: flex-end;
      justify-content: flex-start;
    }

    @include selector('.align-start-center', $value) {
      align-items: center;
      justify-content: flex-start;
    }

    @include selector('.align-end-start', $value) {
      align-items: flex-start;
      justify-content: flex-end;
    }

    @include selector('.align-end-end', $value) {
      align-items: flex-end;
      justify-content: flex-end;
    }

    @include selector('.align-end-center', $value) {
      align-items: center;
      justify-content: flex-end;
    }

    @include selector('.align-center-start', $value) {
      align-items: flex-start;
      justify-content: center;
    }

    @include selector('.align-center-end', $value) {
      align-items: flex-end;
      justify-content: center;
    }

    @include selector('.align-center-center', $value) {
      align-items: center;
      justify-content: center;
    }

    @include selector('.align-spacebetween-start', $value) {
      align-items: flex-start;
      justify-content: space-between;
    }

    @include selector('.align-spacebetween-end', $value) {
      align-items: flex-end;
      justify-content: space-between;
    }

    @include selector('.align-spacebetween-center', $value) {
      align-items: center;
      justify-content: space-between;
    }

    //  Direction
    //  ───────────────────────────────────
    @include selector('.layout-column', $value) {
      flex-direction: column;
    }

    @include selector('.layout-columnreverse', $value) {
      flex-direction: column-reverse;
    }

    @include selector('.layout-row', $value) {
      flex-direction: row;
    }

    @include selector('.layout-rowreverse', $value) {
      flex-direction: row-reverse;
    }

    //  Wrap
    //  ───────────────────────────────────
    @include selector('.layout-wrap', $value) {
      flex-wrap: wrap;
    }

    @include selector('.layout-nowrap', $value) {
      flex-wrap: nowrap;
    }

    //  Others
    //  ───────────────────────────────────
    @include selector('.dp-block', $value) {
      display: block;
    }

    @include selector('.dp-inlblock', $value) {
      display: inline-block;
    }

    @include selector('.dp-inl', $value) {
      display: inline;
    }

    @include selector('.dp-none', $value) {
      display: none;
    }
  }
}

@media #{$sm-only} {
  .sm-horizontal {
    flex-wrap: nowrap;

    overflow: auto;

    li {
      flex: 0 0 auto;

      width: auto;
    }
  }
}
