# System
# ------------
.DS_Store
package-lock.json

# Editors
# ------------
# .vscode

# Dependencies
# ---------------
/node_modules
/project

# Assets
# ---------------
/views/assets
/views/sprite.html

.htaccess
