.b-heroBanner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60rem;
  padding: 15rem 0;
  background-color: clr(primary);
  color: clr(white);

  &__content {
    position: relative;
    z-index: 2;
    width: col(30);
    margin-left: col(2);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .m-slider {
    &__container,
    &__viewport {
      height: 100%;
    }

    &__item {
      height: 100%;
    }
  }

  @media #{$lg} {
    &__content {
      width: col(18);
      &.-center {
        margin-left: col(7);
        text-align: center;
      }
      &.-right {
        margin-left: col(12);
        text-align: right;
      }
    }
  }
}
