.b-twoColumns {
  display: grid;
  gap: 3rem;

  &.-revert & {
    &__left {
      order: 2;
    }
    &__right {
      order: 1;
    }
  }
  @media #{$lg} {
    grid-template-columns: repeat(2, 1fr);
  }
}