:root {
  // Typos
  --font-regular: "Arial", sans-serif;
  --font-title: "Arial", sans-serif;
  --fsize: 62.5%;

  // Animations
  --anim-duration: .25s;
  --anim-easing: #{$p1easeinout};

  // Spaces
  --vr: 3rem;

  // Grid
  --gwidth: #{$row-width};
  --gcols: #{$total-columns};
  --ggutter: #{$column-gutter};
  --gpadding: #{$column-padding};
  --ggap: 3rem;

  // Button
  --btnp: 1.2rem 1.2rem;
  --btnbr: 0;
  --btnb: .2rem;

  // Colors
  @each $name, $color in $colors {
    /* stylelint-disable-next-line custom-property-pattern */
    --c#{"" + $name}: #{$color};
  }
}
