/* stylelint-disable length-zero-no-unit */

//  V A R I A B L E S
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
$font-size-base: 16;

//  Grid
//  ───────────────────────────────────
$row-width: 144rem;
$container-width: 100%;
$total-columns: 24;
$column-gutter: 0rem;
$column-padding: 2rem;
$column-width: 6rem;
$debgrid: true;
$colorcolumnodd: rgba(black, .2);
$colorcolumneven: rgba(black, .1);
$colorgutter: rgba(black, .05);

//  Breakpoints
//  ───────────────────────────────────
$sm-breakpoint: 640px;
$md-breakpoint: 1024px;
$lg-breakpoint: 1366px;
$xlg-breakpoint: 1440px;
$sm-range: (0, $sm-breakpoint);
$md-range: ($sm-breakpoint + 1px, $md-breakpoint);
$lg-range: ($md-breakpoint + 1px, $lg-breakpoint);
$xlg-range: ($lg-breakpoint + 1px, $xlg-breakpoint);
$screen: 'only screen';
$sm-up: $screen;
$sm-only: '#{$screen} and (max-width: #{nth($sm-range, 2)})';
$md-up: '#{$screen} and (min-width:#{nth($md-range, 1)})';
$md-only: '#{$screen} and (min-width:#{nth($md-range, 1)}) and (max-width:#{nth($md-range, 2)})';
$lg-up: '#{$screen} and (min-width:#{nth($lg-range, 1)})';
$lg-only: '#{$screen} and (min-width:#{nth($lg-range, 1)}) and (max-width:#{nth($lg-range, 2)})';
$xlg-up: '#{$screen} and (min-width:#{nth($xlg-range, 1)})';
$xlg-only: '#{$screen} and (min-width:#{nth($xlg-range, 1)}) and (max-width:#{nth($xlg-range, 2)})';
$retina: ('#{$screen} and (-webkit-min-device-pixel-ratio: 2)',
'#{$screen} and (min--moz-device-pixel-ratio: 2)',
'#{$screen} and (-o-min-device-pixel-ratio: 2/1)',
'#{$screen} and (min-device-pixel-ratio: 2)',
'#{$screen} and (min-resolution: 192dpi)',
'#{$screen} and (min-resolution: 2dppx)'
);

// Legacy
$sm: $sm-up;
$md: $md-up;
$lg: $lg-up;
$xlg: $xlg-up;
$bps: (#{$sm} 'sm',
#{$md} 'md',
#{$lg} 'lg',
#{$xlg} 'xlg'
);

//  Resolution
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
$resolution-base: 1440;
$resolution-mockup: 1920;
