html {
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;

  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}
