h1,
.a-h1 {
  font-size: 14.4rem;
  line-height: 1;
  letter-spacing: .02em;

  &.-alt {
    font-size: 7rem;
    line-height: .89;
  }
}

h2,
.a-h2 {
  font-size: 10rem;
  line-height: 1;
  letter-spacing: .02em;
}

h3,
.a-h3 {
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: .02em;
}

h4,
.a-h4 {
  font-size: 3.6rem;
  line-height: 1.25;

  &.-bold {
    font-weight: 700;
  }
}

p,
.a-p {
  font-size: 1.6rem;
  line-height: 1.25;
  letter-spacing: .02em;

  &.-big {
    font-size: 2rem;
  }

  &.-bold,
  strong,
  b {
    font-weight: 700;
  }

  &.-italic,
  em,
  i {
    font-style: italic;
  }
}

sup {
  vertical-align: super;
}

@media #{$md} {
  h1,
  .a-h1 {
    &.-alt {
      font-size: 10rem;
    }
  }
}
