// TITLES
h1,
.a-h1 {
  font-size: 3.2rem;
  line-height: 1;
}

h2,
.a-h2 {
  font-size: 2rem;
  line-height: 1.2;
}

h3,
.a-h3 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.2;
}

h4,
.a-h4 {
  font-size: 2rem;
  line-height: 1.2;
}

.a-numberText {
  font-size: 3.6rem;
  line-height: 1;
}

// BUTTONS
.a-buttonText {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2;
}

.a-linkText {
  font-size: 1.6rem;
  line-height: 1.2;
}

// INPUTS
.a-labelText {
  font-size: 1.2rem;
  line-height: 1.2;
}

.a-inputTextText {
  font-size: 1.4rem;
  line-height: 1.2;
}

// TEXTS
p,
.a-p {
  font-size: 1.4rem;
  line-height: 1.4;

  &.-small {
    font-size: 1.2rem;
  }

  &.-bold,
  strong,
  b {
    font-weight: 600;
  }

  &.-italic,
  em,
  i {
    font-style: italic;
  }
}

@media #{$lg} {
  // TITLES
  h1,
  .a-h1 {
    font-size: 7.2rem;
  }

  h2,
  .a-h2 {
    font-size: 3.6rem;
  }

  h3,
  .a-h3 {
    font-size: 2rem;
  }

  h4,
  .a-h4 {
    font-size: 2.4rem;
  }

  .a-numberText {
    font-size: 6rem;
  }

  // BUTTONS
  .a-buttonText {
    font-size: 1.6rem;
  }

  // INPUTS
  .a-labelText {
    font-size: 1.4rem;
  }

  .a-inputTextText {
    font-size: 1.6rem;
  }

  // TEXTS
  p,
  .a-p {
    font-size: 1.8rem;

    &.-small {
      font-size: 1.6rem;
    }
  }
}
