.a-buttonField {
  &__icon {
    overflow: hidden;
    width: 1.2rem;
    height: 1.2rem;
    use {
      fill: clr(secondary);
    }
    path{
      fill: inherit;
    }
  }

  &[aria-disabled] {
    opacity: .7;
    cursor: not-allowed;
    > * {
      cursor: not-allowed;
    }
  }
}