.a-button{
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 1.7rem 2.5rem;
  border-radius: var(--btnbr);
  backface-visibility: hidden;
  mask-image: radial-gradient(white, black);

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: var(--btnbr);
  }

  &::before {
    top: 1px;
    left: 1px;
    z-index: 1;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border: var(--btnb) solid var(--cprimary);
  }

  &::after {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: var(--cprimary);
    transition: transform .4s cubic-bezier(.58, .01, .39, 1);
    transform: scaleX(0);
    transform-origin: center right;
  }

  .a-buttonField__text {
    position: relative;
    z-index: 3;
  }

  &.-alt {
    color: var(--cwhite);

    &::before {
      border: initial;
      background-color: var(--cprimary);
    }
  }

  &.-hover,
  &:focus {
    outline: none;

    &:not([aria-disabled]) {
      @include button-active;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not([aria-disabled]) {
      @include button-active;
    }
  }
}
