.a-iconPlay{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: clr(primary);
  transform: translate(-50%, -50%);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-width: 9px 0 9px 13px;
    border-style: solid;
    border-color: transparent transparent transparent clr(secondary);
    transform: translate(-50%, -50%);
  }

  &.-hover {
    background-color: clr(secondary);
    &::before {
      border-color: transparent transparent transparent clr(primary);
    }
  }
}

.a-cross {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 1px;
    background-color: clr(primary);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}