.a-inputRadio{
  // .a-inputField {
  //   &__label {
  //     margin-bottom: 1.5rem;
  //   }
  //   &__checkIcon {
  //     margin-right: 1.3rem;
  //     .a-cross {
  //       border-radius: 50%;
  //       background-color: clr(primary);
  //       &::before,
  //       &::after {
  //         display: none;
  //       }
  //     }
  //   }
  //   &__buttons {
  //     display: flex;
  //     flex-flow: row wrap;
  //   }
  //   &__button {
  //     margin-right: 4rem;
  //     margin-bottom: 1rem;
  //   }
  // }

  // &.-alternative {
  //   .a-inputField__button {
  //     margin-right: .8rem;
  //   }
  // }
}